COSTON2_RPC_URL=https://coston2-api.flare.network/ext/C/rpc
COSTON2_PRIVATE_KEY=0xYOUR_TESTNET_ONLY_PRIVATE_KEY
TEE_SIGNER_PRIVATE_KEY=0xYOUR_TESTNET_ONLY_TEE_SIGNER_PRIVATE_KEY
XRPL_TESTNET_URL=wss://s.altnet.rippletest.net:51233
XRPL_MAKER_SEED=sYOUR_TESTNET_ONLY_MAKER_SEED
XRPL_BUYER_ADDRESS=rYOUR_TESTNET_BUYER_ADDRESS
VERIFIER_API_KEY_TESTNET=00000000-0000-0000-0000-000000000000
COSTON2_DA_LAYER_URL=https://ctn2-data-availability.flare.network/
